/*
!.gitignore
!.alacritty.toml
!.bashrc
!.config
/.config/*
!/.config/Code*
/.config/Code*/*
!/.config/Code*/User
/.config/Code*/User/*
!/.config/Code*/User/settings.json
!/.config/i3/
!/.config/polybar
/.config/polybar/*
!/.config/polybar/docky
!/.config/rofi
!./config/starship.toml
!.vimrc
!.vim
!.zshrc

